/* Podomed Clinical - Custom Styles */

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #1f3d89;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #162c63;
}
